### Data Type

In [1]:
n = 1234
n
type(n)

int

In [2]:
a = 4.5
a
type(a)

float

In [3]:
i = 4.0
i
type(i)

float

In [4]:
l = "hacktiv8"
l
type(l)

str

In [5]:
a = True
type(a)

bool

In [6]:
varx = "Haloo"
print(varx)
type(varx)

Haloo

str

### Variable Names

Nama variable panjangnya tidak dibatasi, bisa berupa angka, huruf, atau karakter garis bawah. Karakter pertama tidak berupa angka

In [7]:
_1 = 'pertama'
_1

'pertama'

In [8]:
name = "Naila"
age = '20'
citacita = 'langsing tp doyan makan trs'
print(name, age, citacita)

Naila 20 langsing tp doyan makan trs

In [9]:
8_hactive = 'MSIB'

SyntaxError: invalid decimal literal (<ipython-input-9-1ec47026e058>, line 1)

###### CASE SENSITIVE

In [11]:
AGE = 20
aGE = 21
Age = 22
print(Age, AGE, aGE)

22 20 21

### arithmetic operation

In [12]:
a = 10
b = 20
a+b

30

In [13]:
a-b

-10

In [14]:
11%2

1

In [15]:
10/2

5.0

In [16]:
11/2

5.5

In [17]:
11*5

55

In [18]:
b//a

2

In [19]:
b/a

2.0

In [20]:
b%3 #sisa

2

In [21]:
b**3

8000

### Operator Penugasan

|Operator |	Simbol |
|:--------|:-------|
| Pengisian |	= |
| Penjumlahan |	+= |
| Pengurangan |	-= |
| Perkalian |	*= |
| Pembagian |	/= |
| Sisa Bagi |	%= |
| Pemangkatan |	**= |

In [22]:
a = 5
b = 4
a += b #a = a+b
a

9

In [23]:
a -= b
a

5

In [24]:
c = 7
b *= c
b

28

In [25]:
d = 50
d /= 2
d

25.0

In [26]:
d %= 2
d

1.0

In [27]:
a **= 3
a

125

In [28]:
a = 2

In [29]:
a **= 2

In [30]:
a

4

# Comparison Operators

    Operator ini untuk membandingkan dua buah nilai. 
    Operator ini adalah operator relasi dan sering digunakan untuk membuat sebuah logika atau kondisi.

|Operator |	Simbol |
|:--------|:-------|
|Lebih Besar|	> |
| Lebih Kecil |	< |
| Sama Dengan	| == | 
| Tidak Sama dengan |	!= |
| Lebih Besar Sama dengan |	>= |
| Lebih Kecil Sama dengan |	<= |

In [31]:
x = 10
y =15
x == y

False

In [32]:
x != y

True

In [33]:
a <= b

True

In [34]:
a >= b

False

# Operator Logika

    Operasi logika, seperti logika AND, OR, NOT.

|Nama |	Simbol di Python |
|:----|:----------|
| Logika AND |	and |
| Logika OR	| or |
| Negasi/kebalikan |	not |

In [35]:
a=True
b=False

In [36]:
c = a and b
c

False

In [37]:
d = a or b
d

True

In [38]:
e = not a

In [39]:
e

False

# Operator Ternary
Operator ternary dikenal dengan operator kondisi, karena digunakan untuk membuat sebuah ekspresi kondisi seperti percabgan IF/ELSE.

Operator ternary sebenarnya tidak ada dalam Python, tapi python punya cara lain untuk menggantikan operator ini.

Pada bahasa pemrograman lain operator ternary menggunakan tanda tanya (?) dan titik dua (:).

kondisi ? <nilai true> : <nilai false>
    
aku = (umur < 10) ? "anak" : "dewasa"

Dalam Python bentuknya berbeda, yaitu menggunakann IF/ELSE dalam satu baris.

In [41]:
umur = input("berapa usia kamu?")

berapa usia kamu?15

In [42]:
aku = "anak" if int(umur) < 10 else "dewasa"
aku

'dewasa'

### String Manipulation

In [48]:
# +operators
a = 'i have'
b = ' crush'
c = ' on you'

print(a + b + c)

i have crush on you

In [50]:
# *operators
s = "hai"
print(s*3)
print(2*'h')

haihaihai
hh

In [53]:
#in operators
x = 'foo'
print(x in "That good for us")
print(x in "That food for us")

False
True

In [59]:
#Case Conversion
b = "HAckTIV8"

#lower
print(b.lower())

#Upper
print(b.upper())

#Swapcase
print(b.swapcase())

n = "hadapi dengan senyuman"
print(n.capitalize())
print(n.title())

hacktiv8
HACKTIV8
haCKtiv8
Hadapi dengan senyuman
Hadapi Dengan Senyuman

### Python List
list adalah kumpulan objek yang arbitrary, 
yang dipisahkan koma dalam tanda kurung siku ([]), 

Karakteristik List Python adalah sebagai berikut:


* Lists di siapkan.
* Lists dapat berisi objek sembarang.
* Elemen Lists dapat diakses dengan indeks.
* List dapat masukan ke kedalaman yang bebas.
* List bisa berubah.
* List bersifat dinamis.

### Lists are ordered.
List adalah kumpulan dari object yang berurutan. 

Urutan elemen ketika membuat list akan bertahan selama List tersebut ada.

List yang memiliki elemen yang sama dalam urutan yang berbeda, tidak sama:

In [60]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
c = ['foo', 'bar', 'baz', 'qux']

print(a == b)

print(a == c)

False
True

### Lists can contain any arbitrary objects.

Sebuah List dapat berisi bermacam-macam objek. Element dari List semuanya bisa berjenis sama:

In [61]:
a=  [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

### List Elements Can Be Accessed by Index

Elemen individual dalam List dapat diakses menggunakan indeks dalam tanda kurung siku. 

Ini sama persis dengan mengakses karakter individu dalam sebuah string. 

Pengindeksan List berbasis nol seperti halnya dengan string.

Perhatikan List berikut ini:

List Elements

![alt text](https://i.ibb.co/HBpJ63P/list2.png "List Element")

In [62]:
lstA = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(lstA[5])
print(lstA[-1])

corge
corge


Fungsi Python max() digunakan untuk menemukan nilai terbesar dalam daftar nilai. 

Fungsi Python min() digunakan untuk menemukan nilai terendah dalam daftar. 

Daftar nilai dapat berisi string atau angka.

In [63]:
# len(), min(), max()

lstB = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(lstB)
print(len(lstB))
print(min(lstB))
print(max(lstB))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [64]:
lstNilai = [10,12,20,5,40,15]
print(len(lstNilai))
print(min(lstNilai))
print(max(lstNilai))
print(min(10,20,1))

6
5
40
1

### Modifying a Single List Value

Satu nilai dalam list dapat diganti dengan pengindeksan dan assignment sederhana:

In [65]:
lstX = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(lstX)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [66]:
lstX[2] = 100 
print(lstX)

['foo', 'bar', 100, 'qux', 'quux', 'corge']

In [67]:
lstX = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
lstX[-1] = 10 
print(lstX)

['foo', 'bar', 'baz', 'qux', 'quux', 10]

In [68]:
# A list item can be deleted with the del command:

del lstX[3] 

print(lstX)

['foo', 'bar', 'baz', 'quux', 10]

### Modifying Multiple List Values

Bagaimana jika kalian ingin mengubah beberapa elemen yang bersebelahan dalam list sekaligus?

Python memungkinkan hal ini dengan slice, yang memiliki sintaks berikut:

In [71]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:3])

['bar', 'baz']

In [72]:
a[1:3] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'qux', 'quux', 'corge']

In [73]:
### Operator in 

buah = ['apel','jeruk','durian','mangga','rambutan'] 

print('jeruk' in buah)

True

In [74]:
print('nangka' in buah )

False

In [75]:
### Mencari Index 

buah.index('mangga')

3

In [76]:
# menambahkan 
buah.append('jeruk')
print(buah)

['apel', 'jeruk', 'durian', 'mangga', 'rambutan', 'jeruk']

In [77]:
# ditemukan nama yg sama maka yg di ambil yg pertama 
buah.index('jeruk')

1

In [78]:
# menghapus menggunakan index
del buah[1] 
print(buah)

['apel', 'durian', 'mangga', 'rambutan', 'jeruk']

In [79]:
# menghapus menggunakan value 
buah.remove('mangga')
print(buah)

['apel', 'durian', 'rambutan', 'jeruk']

In [80]:
## Sorting list 
buah.sort()
print(buah)

['apel', 'durian', 'jeruk', 'rambutan']

In [81]:
## Menyalin list 

listx = ['c','d','a'] #
listy = listx # list
print(listy)

['c', 'd', 'a']

In [82]:
listy[0]='a'
print(listy)

['a', 'd', 'a']

In [83]:
print(listx) ## akan mengikuti variabel dari y

['a', 'd', 'a']

In [84]:
import copy 
list1 = copy.copy(listx) #
print(list1) #
list1[0] = 'x' # list
print(listx) # list
print(list1)

['a', 'd', 'a']
['a', 'd', 'a']
['x', 'd', 'a']

## Python Tuples

Python menyediakan tipe lain dari kumpulan objek yang berurutan, disebut tuple.


### Defining and Using Tuples

Tuples identik dengan list dalam segala hal, kecuali untuk properti berikut:

Tuples didefinisikan dengan mengapit elemen dalam tanda kurung (()) 

daripada tanda kurung siku ([]).

Tuples tidak bisa diubah. 

Berikut adalah contoh singkat yang menunjukkan pendeklarasian tuple, 

pengindeksan, dan slicing:

In [1]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)
print(t[0])
print(t[-1])

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
foo
corge

In [2]:
# packing and unpacking
(s0,s1,s2,s3,s4,s5) = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(s3)

qux

## Python Dictionary

Dictionaries and lists share the following characteristics:

* Keduanya bisa berubah.
* Keduanya dinamis. bisa ditambahkan dan dikurangi sesuai kebutuhan.
* Keduanya dapat bersarang. Sebuah list dapat berisi list lain. Dictonarie dapat berisi Dictonary lain. 
Dictonary juga dapat berisi List, dan sebaliknya.

Dictonary berbeda dari daftar terutama dalam cara elemen diakses:

* Elemen list diakses berdasarkan posisinya dalam list, melalui pengindeksan.
* Elemen Dictonary diakses melalui key.

Defining a Dictionary
Dictionaries adalah implementasi Python dari struktur data yang lebih dikenal sebagai associative array. Dictionaries terdiri dari key-value pairs. 
Setiap key-value pairs memetakan key ke value yang terkait.

Kalian bisa mendefinisikan Dictionaries dengan mengapit daftar key-value pairs yang dipisahkan koma dalam tanda kurung kurawal ({}). Titik dua (:) memisahkan setiap kunci dari nilai yang terkait.

In [3]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [5]:
print(MLB_team)
print(MLB_team["Boston"])
print(MLB_team["Seattle"])
print(MLB_team["Milwaukee"])

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}
Red Sox
Mariners
Brewers

In [6]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [7]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [8]:
# To delete an entry, use the del statement, specifying the key to delete:

del(MLB_team['Seattle'])
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

### Building a Dictionary Incrementally

Mendefinisikan dictionary menggunakan tanda kurung kurawal dan key-value pairs, seperti yang ditunjukkan di atas, tidak masalah jika kalian mengetahui semua kunci dan nilai sebelumnya. Tetapi bagaimana jika kalian ingin membuat dictionary sambil jalan?

Kalian bisa mulai dengan membuat dictionary kosong, yang ditentukan dengan tanda kurung kurawal kosong. Kemudian kalian dapat menambahkan kunci dan nilai baru satu per satu:

In [9]:
person = {} 
type(person)

dict

In [11]:
person['fname'] = "IKetut"
person["lname"] = 'Gunawan' 
person['age']=45 
person["children"] =['Yusuf','Sulaiman','Ibrahim','Fatimah']
person['pets'] = [{'keysArr': ['ath', 'atl', 'circulatingSupply'],'Dog':'Jumba'}]
person["skill"] = {"programming":['Java','Golang','Python','Solidity'],
                   "database":{"nosql":['MonggoDb','Neo4J'],"rdbms":['Mysql','PostgreSQL','Oracle']}}

In [12]:
person

{'fname': 'IKetut',
 'lname': 'Gunawan',
 'age': 45,
 'children': ['Yusuf', 'Sulaiman', 'Ibrahim', 'Fatimah'],
 'pets': [{'keysArr': ['ath', 'atl', 'circulatingSupply'], 'Dog': 'Jumba'}],
 'skill': {'programming': ['Java', 'Golang', 'Python', 'Solidity'],
  'database': {'nosql': ['MonggoDb', 'Neo4J'],
   'rdbms': ['Mysql', 'PostgreSQL', 'Oracle']}}}

### Casting
Merubah dari satu tipe ke tipe lain 

tipe data  ("int","float","str","bool")

In [13]:
# float 

data_float = 10.2
print ("data :",data_float," Tipe : ",type(data_float))

data : 10.2  Tipe :  <class 'float'>

In [14]:
#casting float 
data_int = int(data_float) # lakukan uji coba diganti data_float adakah pembulatan ? tidak ada 
data_str = str(data_float) 
data_bool = bool(data_float) # lakukan uji coba diganti data_float

print ("data :",data_int," Tipe : ",type(data_int))
print ("data :",data_str," Tipe : ",type(data_str))
print ("data :",data_bool," Tipe : ",type(data_bool))

data : 10  Tipe :  <class 'int'>
data : 10.2  Tipe :  <class 'str'>
data : True  Tipe :  <class 'bool'>

In [15]:
# int 

data_int = 5
print ("data :",data_int," Tipe : ",type(data_int))

data : 5  Tipe :  <class 'int'>

In [16]:
#casting int 
# perhatikan tipe data bool cating 

data_float = float(data_int) 
data_str = str(data_int) 
data_bool = bool(data_int)  # kapan false jika nilai 0  , selain 0 adalah true 

print ("data :",data_int," Tipe : ",type(data_float))
print ("data :",data_str," Tipe : ",type(data_str))
print ("data :",data_bool," Tipe : ",type(data_bool))

data : 5  Tipe :  <class 'float'>
data : 5  Tipe :  <class 'str'>
data : True  Tipe :  <class 'bool'>

In [17]:
# bool 

data_bool = False   # change to True
print ("data :",data_bool," Tipe : ",type(data_bool))

data : False  Tipe :  <class 'bool'>

In [18]:
#casting bool 
data_int = int(data_bool) 
data_str = str(data_bool) 
data_float = float(data_bool) 

print ("data :",data_int," Tipe : ",type(data_int))
print ("data :",data_str," Tipe : ",type(data_str))
print ("data :",data_float," Tipe : ",type(data_float))

data : 0  Tipe :  <class 'int'>
data : False  Tipe :  <class 'str'>
data : 0.0  Tipe :  <class 'float'>

In [19]:
# str 

data_str = "10.5"   #   coba char , numeric , " ", ""
print ("data :",data_str," Tipe : ",type(data_str))

data : 10.5  Tipe :  <class 'str'>

In [20]:
#casting str 
data_bool  = bool(data_str)  # harus .... untuk menjadi False 
data_int   = int(float(data_str))   # harus ....
data_float = float(data_str) # harus .... 

print ("data :",data_bool," Tipe : ",type(data_bool))
print ("data :",data_int," Tipe : ",type(data_str))
print ("data :",data_str," Tipe : ",type(data_str))

data : True  Tipe :  <class 'bool'>
data : 10  Tipe :  <class 'str'>
data : 10.5  Tipe :  <class 'str'>

In [21]:
text = "Belajar Python di Hactiv8."

print(list(text))
print(tuple(text))
print(set(text))

['B', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'd', 'i', ' ', 'H', 'a', 'c', 't', 'i', 'v', '8', '.']
('B', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'd', 'i', ' ', 'H', 'a', 'c', 't', 'i', 'v', '8', '.')
{'a', 'r', 'j', 'l', 'e', ' ', 'H', 'o', 'P', '8', 'B', 't', 'n', 'v', 'd', '.', 'y', 'i', 'c', 'h'}